<ion-view view-title="Intro">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="slide-content">
        <h3>This app is built with the Ionic Framework, and integrated with the WordPress WP-API</h3>
        <button class="button button-block button-balanced" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h3>You can pull in any content from WordPress, including posts, pages, custom post types, and more</h3>
        <button class="button button-block button-balanced" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h3>What will you make?</h3>
        <button class="button button-block button-balanced" ng-click="startApp()">
          Get Started
        </button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>