<div class="login-modal">
  <ion-modal-view>

    <ion-header-bar class="nav-title-slide-ios bar-positive">
      <div class="buttons close-button">
            <button class="button button-icon icon ion-close" ng-click="closeLogin()"></button>
      </div>

      <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>

    <div ng-if="!isUserLoggedIn">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>

        <button ng-click="logUserIn(username, password)" class="button button-block button-small button-positive">Login</button> </div>
    </div>

    <div ng-if="isUserLoggedIn">
      <div class="list list-inset">
        <button ng-click="logUserOut()" class="button button-block button-small button-positive">Logout</button> </div>
    </div>

    <div ng-show="loginMessage" class="notice">{{loginMessage}}</div>

    <div ng-show="spinner">
      <div class="loader">
        <i class="icon ion-loading-d"></i>
      </div>
    </div>

    </ion-content>

  </ion-modal-view>
  <iframe id="login-iframe" style="width: 0; height: 0;" src="{{src}}"></iframe>
</div>