<ion-view>
	<ion-nav-title>
  {{::post.title.rendered}}
	</ion-nav-title>
  <ion-content class="padding">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  	<div class="card post">
  		<div class="item post-title">
  		<h2 ng-bind-html="post.title.rendered"></h2>
  		</div>
  		<div class="item item-body" ng-if="content" ng-bind-html="content | html_filters"></div>
    

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-forward"></i>
          Share
        </a>
        <a class="tab-item" href="#" ng-click="bookmarkItem(post.id)">
          <i ng-class="{'icon ion-ios-star': bookmarked, 'icon ion-ios-star-outline': !bookmarked}"></i>
          Bookmark
        </a>
      </div>

    </div>

    <!--div class="item item-divider">Comments</div>
      <ion-list ng-if="comments">
        <ion-item ng-repeat="comment in comments">
          <div class="item-body">
            <h3 ng-bind-html="comment.author_name"></h3>
            <p ng-bind-html="comment.content.rendered"></p>
          </div>
        </ion-item>
      </ion-list-->
  </ion-content>
</ion-view>
