<ion-view view-title="Posts">
  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<ion-list>
		<ion-item class="item-icon-right item-thumbnail-left" ng-repeat="post in posts" href="#/app/posts/{{post.ID}}">
			<img ng-if="post.featured_image.attachment_meta.sizes.thumbnail.url" src="{{post.featured_image.attachment_meta.sizes.thumbnail.url}}" class="alignleft" />
			<img ng-if="!post.featured_image.attachment_meta.sizes.thumbnail.url" src="img/default-thumb.png" class="alignleft" />
			<h3>{{post.title}}</h3>
			<div class="post-excerpt" ng-bind-html="post.excerpt"></div>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

	<ion-infinite-scroll
	ng-if="moreDataExists()"
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
