<ion-view title="Tabs">

	<ion-tabs tabs-type="tabs-icon-only">
	    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
	        <ion-content has-header="true" padding="true">
	            <h2>Welcome Home</h2>
	            <p>This is an example tab</p>
	        </ion-content>
	    </ion-tab>

	    <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline">
	        <ion-content has-header="true" padding="true">
	            <h2>Take a picture</h2>
	            <p>Here's another tab.</p>
	        </ion-content>
	    </ion-tab>

	    <ion-tab title="Books" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
	        <ion-content has-header="true" padding="true">
	            <h2>Reading is good for you</h2>
	            <p>Yet another tab example.</p>
	        </ion-content>
	    </ion-tab>

	</ion-tabs>

</ion-view>