<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>

    <ion-buttons end>
		<button ion-button (click)="dismiss()">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!items">
    <p>Your cart is empty.</p>
    <button ion-button (click)="dismiss()">Continue Shopping</button>
  </div>

	<ion-list class="post-list woocommerce" *ngIf="items">

    <ion-item *ngFor="let item of items">

    	<ion-thumbnail item-start *ngIf="item.images">
	      <img src="{{item.images[0].src}}">
	    </ion-thumbnail>

  		<h2 *ngIf="item.name" [innerHTML]="item.name"></h2>

  		<ion-grid>
        <ion-row>
          <ion-col col-10><p *ngIf="item.price" class="product-price">${{item.price}}</p></ion-col>
          <ion-col col-2><p *ngIf="item.quantity" class="product-price">{{item.quantity}}</p></ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item>
      Cart total: ${{cart_total}}
    </ion-item>

    <ion-item>
      <button ion-button icon-left color="light" (click)="clearCart()"><ion-icon name="trash"></ion-icon> Clear Cart</button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="items">

      <button ion-button full color="secondary" (click)="goCheckout()">
        Checkout
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

  </ion-toolbar>
</ion-footer>