<ion-menu *ngIf="menus" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
		<ion-list-header text-wrap *ngIf="login_data">
		<ion-avatar *ngIf="login_data.avatar">
		  <img [src]="login_data.avatar" />
		</ion-avatar>
		<p class="loggedin-msg"><b>login_data.message</b></p>

		</ion-list-header>

		<button ion-item icon-left *ngFor="let item of menus" (click)="menuLink(item)">
			<ion-icon name="{{item.icon}}"></ion-icon>
		{{item.title}}
		</button>
		
		<div padding>
			<button ion-button block icon-left class="menu-login-button" (click)="openLoginModal()">
			<ion-icon name="log-in"></ion-icon>
			<span *ngIf="login_data">Logout</span><span *ngIf="!login_data">Login</span></button>
		</div>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav id="nav" #content></ion-nav>