// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
	background: #333;
}

.toolbar, .toolbar-title, .toolbar ion-icon {
	color: #fff;
}

.button-md-secondary, .button-ios-secondary {
	color: #333;
	ion-icon {
		color: #333;
	}
}

.item {
	background-color: transparent
}

.big-title {
	font-size: 2.2 rem;
	color: #2d5292;
	font-weight: bold
}

.card {
	background: #fff;
	img {
		border-bottom: 1px solid #eee;
	}
	p {
		margin-bottom: 10px;
	}
}

.content {
	background-color: #f5f1e9
}

.menu-inner .content {
	background-color: #333;

	.item {
		color: #eee;
		font-size: 1.8rem;

		.item-inner {
			border-bottom: 1px solid rgba(255,255,255,.3)
		}
	}
	
}