<ion-header>

  <ion-navbar hideBackButton="true">

    <ion-title>Checkout</ion-title>

    <ion-buttons end>
		<button ion-button (click)="dismiss()">
			Cancel
		</button>
	</ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

	<form (ngSubmit)="doCheckout(checkoutForm)" #checkoutForm="ngForm">

	<ion-slides (ionSlideDidChange)="slideChanged()">
		<ion-slide>
			<h2>Billing Details</h2>

			<ion-list ngModelGroup="billing">

				<ion-item>
				<ion-label stacked>First Name</ion-label>
				<ion-input type="text" ngModel name="first_name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Last Name</ion-label>
				<ion-input type="text" ngModel name="last_name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input type="email" ngModel name="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Address</ion-label>
				<ion-input type="text" ngModel name="address_1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>City</ion-label>
				<ion-input type="text" ngModel name="city" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>State</ion-label>
				<ion-input type="text" ngModel name="state" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Postcode</ion-label>
				<ion-input type="number" ngModel name="postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Use same details for shipping?</ion-label>
				<ion-checkbox name="billing_shipping_same" ngModel (ionChange)="billingShippingToggle($event)" checked="true">1</ion-checkbox>
				</ion-item>

			</ion-list>

		</ion-slide>

		<ion-slide *ngIf="!billing_shipping_same">

			<ion-icon name="arrow-back" class="checkout-slide-back" (click)="prevSlide()"></ion-icon>

			<h2>Shipping Address</h2>

			<div ngModelGroup="shipping">

			<ion-list>

				<ion-item>
				<ion-label stacked>First Name</ion-label>
				<ion-input type="text" ngModel name="first_name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Last Name</ion-label>
				<ion-input type="text" ngModel name="last_name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input type="email" ngModel name="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Address</ion-label>
				<ion-input type="text" ngModel name="address_1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>City</ion-label>
				<ion-input type="text" ngModel name="city" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>State</ion-label>
				<ion-input type="text" ngModel name="state" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

				<ion-item>
				<ion-label stacked>Postcode</ion-label>
				<ion-input type="number" ngModel name="postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
				</ion-item>

			</ion-list>

			</div>

		</ion-slide>

		<ion-slide>
			
			<ion-icon name="arrow-back" class="checkout-slide-back" (click)="prevSlide()"></ion-icon>

			<h2>Choose a shipping zone</h2>

			<ion-list radio-group ngModel name="shipping_zone" (ionChange)="zoneChange($event)">

				<ion-item *ngFor="let zone of shipping_zones">
				<ion-label>{{zone.name}}</ion-label>
				<ion-radio value="{{zone.id}}"></ion-radio>
				</ion-item>

			</ion-list>
			
			<div ngModelGroup="shipping_lines" *ngIf="shipping_methods">

			<h2>Shipping Method</h2>

				<ion-list radio-group ngModel name="method_id" (ionChange)="shippingCost($event)">

					<ion-item *ngFor="let method of shipping_methods">
					<ion-label>{{method.method_title}} ${{ method.settings.cost ? method.settings.cost.value : '0'}}</ion-label>
					<ion-radio value="{{method.method_id}}::{{method.method_title}}::{{ method.settings.cost ? method.settings.cost.value : 0}}"></ion-radio>
					</ion-item>

				</ion-list>

			</div>

		</ion-slide>

		<ion-slide>

			<ion-icon name="arrow-back" class="checkout-slide-back" (click)="prevSlide()"></ion-icon>

			<h2>Payment Method</h2>

			<ion-list>

				<ion-item>
				<ion-label stacked>Payment Method</ion-label>
				<ion-select ngModel name="payment_method">
				<ion-option  *ngFor="let gateway of gateways" value="{{gateway.id}}" (ionSelect)="gatewaySelected($event)">{{gateway.title}}</ion-option>
				</ion-select>
				</ion-item>

			</ion-list>

			<p *ngIf="gateway_instructions != ''">{{gateway_instructions}}</p>
			
			<div id="stripe-payment-form" [hidden]="!stripe_selected">
				<div id="card-element" class="field"></div>
			</div>

		</ion-slide>

		<ion-slide>

			<ion-icon name="arrow-back" class="checkout-slide-back" (click)="prevSlide()"></ion-icon>

			<h2>Order Summary</h2>

			<ion-list>

				<ion-item *ngFor="let item of cart_contents">

				<h3 *ngIf="item.name" [innerHTML]="item.name"></h3>

				<p *ngIf="item.price && !item.sale_price" class="product-price">${{item.price}}</p>

				<p *ngIf="item.sale_price" class="product-price">Sale! ${{item.sale_price}}</p>

				</ion-item>
				
				<ion-item *ngIf="shipping_cost > 0">
					<p>Shipping: ${{shipping_cost}}</p>
				</ion-item>

				<ion-item>
					<h2>Order total: ${{cart_total + shipping_cost}}</h2>
				</ion-item>

				<div padding>
				<button ion-button type="submit" block (click)="submit()">Place Order</button>
				</div>

			</ion-list>

		</ion-slide>

	</ion-slides>
	  

	</form>

</ion-content>

<ion-footer *ngIf="!isLastSlide">
	<div class="checkout-button" (click)="nextSlide()">Continue</div>
</ion-footer>