page-woo-list {
	.woocommerce.post-list {
		.item h2 {
			font-size: 1.8rem;
			font-weight: bold;
			margin-bottom: 5px;
			color: #444;
		}

		.product-price {
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: 5px;
			color: Green;
		}

		.product-description, .product-rating {
			font-size: 1.2rem;
			margin-bottom: 5px;
		}
	} 
}
