page-woo-detail {
	.swiper-slide {
		max-height: 250px;
	}

	.item h2 {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 5px;
		color: #444;
	}

	.product-price, .product-stock {
		font-size: 1.8rem;
		font-weight: 500;
		margin-bottom: 5px;
		color: Green;
	}

}
