/* Empty. Add your own CSS if you like */
.item-content p.post-excerpt {
	white-space: wrap;
}

.login-modal .close-button .icon::before {
	font-size: 18px !important;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background: url('../img/blurry-app-bg.png') no-repeat center top;
  background-size: cover;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.slide-content {
	position: absolute;
	bottom: 200px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.slide-content h3 {
	color: #fff;
	margin-bottom: 40px;
}